/* .all-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
} */
.welcome-message,
.add-new-listing {
  margin-top: 10px;
  font-size: 1.3em;
}
.add-new-listing {
  margin-top: 50px;
}
.profile-button {
  margin-top: 20px;
  padding: 5px;
  font-size: 1.1em;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
}
.edit-user-info {
  margin-top: 50px;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.edit-user-info > * {
  margin-top: 10px;
}
.edit-form {
  width: 70%;
  min-width: 300px;
  max-width: 500px;
}
.save-changes {
  font-size: 1.3em;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
}
