.swiper {
  width: 100%;
  height: 100%;
  z-index: -3;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 510px;
}
.slide-div {
  margin-left: auto;
  margin-right: auto;
}
.image-slide {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center center;
  z-index: 1;
}

.image-title {
  z-index: 2;
  padding: 10px;
  background-color: #1e4e7e;
  color: white;
}

@media (max-width: 600px) {
  .swiper-slide {
    height: 310px;
  }
  .image-slide {
    height: 300px;
  }
}
