* {
  margin: 0;
  padding: 0;
  font-family: "Share", cursive;
}

.App {
  text-align: center;
}

.App-heading {
  text-align: left;
  padding: 10px 0px 0px 0;
  box-shadow: 1px 1px 3px grey;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.775);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-nav > span {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}
.App-logo {
  width: 100px;
}
